<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
             <p class="paragraph-text justify-text">
                Welcome to my wonderland!✨ 
            </p>
            <p class="paragraph-text justify-text">
                I'm a statistical analyst who recently graduated with a Master's degree in Statistics. 
            </p>
           <p class="paragraph-text justify-text">
               I'm seeking a full-time job as <br>
               <strong>Data Scientist / Data Analyst / Statistician / Statistical Programmer.</strong>
</p>
             <p class="paragraph-text justify-text">
                I'm also a puzzle lover, coffee explorer, and piano & guitar beginner！🧩 ☕️ 🎹 🎸
            </p>
            <p class="paragraph-text justify-text">
                My contact information can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page. 
            </p>
        </div>
    </section>
</div>
